:host {
    --size: 60px;
    //wrapper height is the size + the boreders
    --wrapper-height: calc(var(--size) + 4px);
    //first div is 100% - borders, so 100% - 4px --- that's just the size lol
    --second-div-height: calc(var(--size) * 0.9 - 6px);

    --nub-size: calc(
        ((var(--wrapper-height) - var(--second-div-height)) / 2) - 4px
    );

    --bg-dark: #101923;
    --bg-light: #4dacff;
    --spinner-gradient: conic-gradient(
        rgba(77, 172, 255, 0),
        rgba(51, 51, 51, 0),
        rgba(77, 172, 255, 0.3),
        rgba(77, 172, 255, 0.6),
        rgba(77, 172, 255, 0.7),
        rgb(77, 172, 255)
    );
    --third-bg: #101923;
    --mask: radial-gradient(
        farthest-side,
        transparent calc((((100% - 4px) * 0.9) - 5.5px)),
        var(--bg-light) calc((((100% - 4px) * 0.9) - 4.5px))
    );
    display: flex;
    align-items: center;
}
::slotted(*) {
    padding: 1.25rem;
}

.rux-spinner-wrapper {
    height: var(--size);
    width: var(--size);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #4dacff;
    background: var(--bg-dark);

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.rux-spinner-first {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--spinner-gradient);
    /* h/w here increases distance of progress bar from top border*/
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 100%;

    // animation: spin 1.367s infinite linear;

    &::after {
        position: absolute;
        content: '';
        background: var(--bg-light);
        width: var(--nub-size);
        height: var(--nub-size);
        top: 0;
        margin: 0;
        padding: 0;
        border-radius: 100%;
    }
}

.rux-spinner-second {
    height: calc(90% - 6px);
    width: calc(90% - 6px);
    background: transparent;
    border-radius: 100%;
    border: 2px solid var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rux-spinner-third {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border: 2px solid var(--bg-light);
    border-radius: 100%;
    background-color: transparent;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
